@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>Category</h1>
    <form>
        <h3>Add new Category</h3>
        <label class="lead">Category Name</label>
        <input type="text" class="border"/><br/>
        <button class="btn btn-primary mt-3">Add category</button>
    </form>
}
